// Navigation code here
header {
  .flex-spacing(flex, column, center, center);
  h1 {
    margin: @space-margin;
    font-size: 6rem;
  }
  nav {
    width: 80%;
    font-size: 1.5rem;
    border: 1px solid blue;
    display: flex;
    justify-content: center;
    a {
      margin: 2%;
      padding: 5px;
      text-decoration: none;
    }
  }
}
